.App {
  margin: 0 32px;
  text-align: center;
}

.App__main {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #252525;
}

.pokemon__result__container {
  margin-top: 4rem;
}

.pokemon__name__font {
  font-weight: 700;
}

.request__error__font {
  color: #cc1a1a;
}
